/*************************  
  CSS Variables: 
*************************/ 


:root {


  /*************************  
    Basic Colors
  *************************/  

  --color-black: 13.98% 0 0;
  --color-white: 99.4% 0 0;
  --color-pure-black: 100% 0 0;
  --color-pure-white: 0 0 0;
  
  --color-gray-50: 97.31% 0 0;
  --color-gray-100: 94.66% 0 0;
  --color-gray-200: 86.89% 0 0;
  --color-gray-300: 78.94% 0 0;
  --color-gray-400: 70.79% 0 0;
  --color-gray-500: 62.39% 0 0;
  --color-gray-600: 53.7% 0 0;
  --color-gray-700: 44.64% 0 0;
  --color-gray-800: 35.1% 0 0;
  --color-gray-900: 24.84% 0 0;

  --color-blue-50: 98.28% 0.008535318967846529 247.91230844328572;
  --color-blue-100: 86.08% 0.07184533104304036 248.67189806368867;
  --color-blue-200: 77.97% 0.1169846984699502 249.18791780935626;
  --color-blue-300: 70.31% 0.16 251.4;
  --color-blue-400: 63.8% 0.19786592615268672 254.3915939453434;
  --color-blue-500: 55.86% 0.1907218934980594 256.0020354109037;
  --color-blue-600: 46.28% 0.156 255.66;
  --color-blue-700: 36.43% 0.11800168747763046 254.52465804333002;
  --color-blue-800: 25.86% 0.07670613100095396 251.70043546201316;
  --color-blue-900: 13.78% 0.031 239.31;

  --color-green-50: 97.16% 0.021 134.08;
  --color-green-100: 85.13% 0.111 135.44;
  --color-green-200: 79.85% 0.15 136.26;
  --color-green-300: 75.14% 0.185 137.04;
  --color-green-400: 66.01% 0.171 137.18;
  --color-green-500: 54.57% 0.139 137.11;
  --color-green-600: 42.2% 0.104 136.86;
  --color-green-700: 29.17% 0.066 136.57;
  --color-green-800: 14.38% 0.023 136.35;
  --color-green-900: 0% 0 0;

  --color-yellow-50: 97.59% 0.02381894414643337 83.06060570742507;
  --color-yellow-100: 86.98% 0.128 81.2;
  --color-yellow-200: 83.15% 0.15681888825079074 78.05241467152487;
  --color-yellow-300: 79.73% 0.17 71.82;
  --color-yellow-400: 68.52% 0.147 71.58;
  --color-yellow-500: 55.89% 0.119 72.49;
  --color-yellow-600: 42.5% 0.09000059639475037 74.1750818737353;
  --color-yellow-700: 27.94% 0.058 78.3;
  --color-yellow-800: 10.16% 0.020819354526502735 93.48657333418616;
  --color-yellow-900: 0% 0 0;

  --color-red-50: 97.79% 0.010749906051195026 17.34037927927983;
  --color-red-100: 83.91% 0.086 19.11;
  --color-red-200: 74.47% 0.149 21.38;
  --color-red-300: 67.09% 0.208 24.76;
  --color-red-400: 62.81% 0.245 28.22;
  --color-red-500: 57.22% 0.233 29.08;
  --color-red-600: 47.47% 0.193 29.04;
  --color-red-700: 37.17% 0.15 28.95;
  --color-red-800: 26.11% 0.104 28.78;
  --color-red-900: 13.63% 0.053 28.14;

  --color-purple-300: 72.21% 0.112 291.14;
  --color-purple-500: 50.2% 0.206 283.57;


  /*************************  
    Basic Variables
  *************************/ 

  /* Distance & shape */
  --radius: 0.25rem;
  --radius-inner: 0.1875rem;

  --spacing-xxxs: 0.125rem;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 0.75rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 4rem;
  --spacing-xxxl: 7.5rem;

  /* Font */
  --font-size-base: 1rem;
  --font-family: system-ui, Helvetica, Arial, sans-serif;

  /* Breakpint */
  --breakpoint-375: 375px;
  --breakpoint-480: 480px;
  --breakpoint-768: 768px;
  --breakpoint-992: 992px;
  --breakpoint-1280: 1280px;
  --breakpoint-1440: 1440px;
  --breakpoint-1600: 1600px;
  --breakpoint-1920: 1920px;

  /* Box-shadow */
  --box-shadow: 0 0.75rem 1.125rem oklch(var(--color-black) / 0.15);


  /*************************  
    Tokens
  *************************/  

  /* Theme */
  --color-primary-bg: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);

  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-500: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);

  --color-warning-50: var(--color-yellow-50);
  --color-warning-100: var(--color-yellow-100);
  --color-warning-200: var(--color-yellow-200);
  --color-warning-300: var(--color-yellow-300);
  --color-warning-400: var(--color-yellow-400);
  --color-warning-500: var(--color-yellow-500);
  --color-warning-600: var(--color-yellow-600);
  --color-warning-700: var(--color-yellow-700);
  --color-warning-800: var(--color-yellow-800);
  --color-warning-900: var(--color-yellow-900);

  --color-danger-50: var(--color-red-50);
  --color-danger-100: var(--color-red-100);
  --color-danger-200: var(--color-red-200);
  --color-danger-300: var(--color-red-300);
  --color-danger-400: var(--color-red-400);
  --color-danger-500: var(--color-red-500);
  --color-danger-600: var(--color-red-600);
  --color-danger-700: var(--color-red-700);
  --color-danger-800: var(--color-red-800);
  --color-danger-900: var(--color-red-900);

  --color-focus: var(--color-yellow-200);
  --color-visited: var(--color-purple-500);
  --color-placeholder: var(--color-gray-300);
  --color-border: var(--color-gray-300);
  
  /* Article */
  --article-title-color: var(--color-gray-900);
  --article-subtitle-color: var(--color-gray-700);
  --article-paragraph-color: var(--color-gray-700);

  /* Link */
  --link-color: var(--color-primary-600);
  --link-hover-color: var(--color-primary-500);
  --link-active-color: var(--color-primary-700);
  --link-visited-color: var(--color-visited);

  /* Accordion */
  --accordion-header-color: var(--article-title-color);
  --accordion-header-bg: var(--color-white);
  --accordion-bar-color: var(--color-primary-600);
  --accordion-active-bar-color: var(--color-warning-500);
  --accordion-icon-color: var(--color-primary-600);
  --accordion-content-color: var(--article-paragraph-color);
  --accordion-content-bg: var(--color-gray-100);

  /* Badge */
  --color-badge-bg: var(--color-warning-100);
  --color-badge-color:  var(--color-black);

  /* Breadcrumb */
  --breadcrumb-color: var(--article-paragraph-color);

  /* Button */
  --button-flat-color: var(--color-white);
  --button-ghost-bg: var(--color-white);
  --button-default-color: var(--color-black);
  --button-default-bg: var(--color-white);
  --button-default-hover-bg: var(--color-gray-100);
  --button-default-active-bg: var(--color-gray-200);

  /* Checkbox */
  --checkbox-square-bg: var(--color-white);
  --checkbox-square-active-bg: var(--color-primary-100);
  --checkbox-square-border-color: var(--color-border);
  --checkbox-square-hover-border-color: var(--color-primary-500);
  --checkbox-square-active-border-color: var(--color-primary-500);
  --checkbox-square-error-bg: var(--color-danger-100);
  --checkbox-label-color: var(--color-gray-900);
  --checkbox-label-hover-color: var(--color-primary-600);
  --checkbox-label-active-color: var(--color-primary-600);
  --checkbox-label-focus-color: var(--color-primary-600);
  --checkbox-label-error-color: var(--color-danger-500);
  --checkbox-border-error-color: var(--color-danger-500);
  --checkbox-icon-color: var(--color-gray-800);
  --checkbox-inner-icon-color: var(--color-primary-500);

  /* Input */
  --input-error-bg: var(--color-white);
  --input-has-content-color: var(--color-black);
  --input-has-content-error-color: var(--color-danger-600);
  /* --input-error-btn-color: var(--color-black); */
  --input-btn-color: var(--color-black);
  --input-clear-btn-color: var(--color-gray-500);
  --input-error-clear-btn-color: var(--color-gray-500);
  --input-error-border-color: var(--color-danger-500);

  /* Pagination */
  --pagination-color: var(--article-paragraph-color);

  /* Dialog/Card */
  --dialog-header-close-btn-color: var(--color-primary-600);
  --dialog-header-title-color: var(--article-title-color);
  --dialog-content-color: var(--article-paragraph-color);
  --dialog-header-bg: var(--color-white);
  --dialog-content-bg: var(--color-white);
  --dialog-footer-bg: var(--color-white);
  --dialog-border-color: var(--color-border);

  /* Radio */
  --radio-circle-bg: var(--color-white);
  --radio-circle-active-bg: var(--color-primary-100);
  --radio-circle-checked-bg: var(--color-primary-500);
  --radio-label-color: var(--color-gray-900);
  --radio-label-hover-color: var(--color-primary-600);
  --radio-label-active-color: var(--color-primary-600);
  --radio-label-focus-color: var(--color-primary-600);
  --radio-border-hover-color: var(--color-primary-500);
  --radio-border-active-color: var(--color-primary-500);
  --radio-border-focus-color: var(--color-focus);

  /* Select */
  --select-color: var(--color-black);
  --select-bg: var(--color-white);
  --select-hover-bg: var(--color-gray-100);
  --select-active-bg: var(--color-gray-200);
  --select-error-bg: var(--color-white);
  --select-error-color: var(--color-black);
  --select-error-border-color: var(--color-danger-500);

  /* Switch */
  --switch-checked-bg: var(--color-primary-500);
  --switch-unchecked-bg: var(--color-gray-200);
  --switch-square-bg: var(--color-white);
  --switch-square-color: var(--color-black);
  --switch-square-checked-color: var(--color-white);
}


/*************************  
  Dark Mode
*************************/ 

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;


    /*************************  
      Tokens
    *************************/ 

    /* Theme */
    --color-primary-50: var(--color-blue-50);
    --color-primary-100: var(--color-blue-100);
    --color-primary-200: var(--color-blue-200);
    --color-primary-300: var(--color-blue-300);
    --color-primary-400: var(--color-blue-400);
    --color-primary-500: var(--color-blue-500);
    --color-primary-600: var(--color-blue-600);
    --color-primary-700: var(--color-blue-700);
    --color-primary-800: var(--color-blue-800);
    --color-primary-900: var(--color-blue-900);

    --color-success-50: var(--color-green-50);
    --color-success-100: var(--color-green-100);
    --color-success-200: var(--color-green-200);
    --color-success-300: var(--color-green-300);
    --color-success-400: var(--color-green-400);
    --color-success-500: var(--color-green-500);
    --color-success-600: var(--color-green-600);
    --color-success-700: var(--color-green-700);
    --color-success-800: var(--color-green-800);
    --color-success-900: var(--color-green-900);

    --color-warning-50: var(--color-yellow-50);
    --color-warning-100: var(--color-yellow-100);
    --color-warning-200: var(--color-yellow-200);
    --color-warning-300: var(--color-yellow-300);
    --color-warning-400: var(--color-yellow-400);
    --color-warning-500: var(--color-yellow-500);
    --color-warning-600: var(--color-yellow-600);
    --color-warning-700: var(--color-yellow-700);
    --color-warning-800: var(--color-yellow-800);
    --color-warning-900: var(--color-yellow-900);

    --color-danger-50: var(--color-red-50);
    --color-danger-100: var(--color-red-100);
    --color-danger-200: var(--color-red-200);
    --color-danger-300: var(--color-red-300);
    --color-danger-400: var(--color-red-400);
    --color-danger-500: var(--color-red-500);
    --color-danger-600: var(--color-red-600);
    --color-danger-700: var(--color-red-700);
    --color-danger-800: var(--color-red-800);
    --color-danger-900: var(--color-red-900);

    --color-focus: var(--color-yellow-200);
    --color-visited: var(--color-purple-300);
    --color-placeholder: var(--color-gray-300);
    --color-border: var(--color-gray-700);

    /* Article */
    --article-title-color: var(--color-gray-100);
    --article-subtitle-color: var(--color-gray-300);
    --article-paragraph-color: var(--color-gray-300);

    /* Link */
    --link-color: var(--color-primary-100);
    --link-hover-color: var(--color-primary-300);
    --link-active-color: var(--color-primary-100);
    --link-visited-color: var(--color-visited);

    /* Accordion */
    --accordion-header-color: var(--article-title-color);
    --accordion-header-bg: var(--color-black);
    --accordion-bar-color: var(--color-primary-600);
    --accordion-active-bar-color: var(--color-warning-500);
    --accordion-content-color: var(--article-paragraph-color);
    --accordion-content-bg: var(--color-gray-900);
    --accordion-icon-color: var(--color-primary-200);

    /* Breadcrumb */
    --breadcrumb-color: var(--article-paragraph-color);

    /* Button */
    --button-flat-color: var(--color-white);
    --button-ghost-bg: var(--color-white);
    --button-default-color: var(--color-black);
    --button-default-bg: var(--color-white);
    --button-default-hover-bg: var(--color-gray-200);
    --button-default-active-bg: var(--color-gray-300);

    /* Checkbox */
    --checkbox-square-bg: var(--color-white);
    --checkbox-square-active-bg: var(--color-primary-100);
    --checkbox-square-border-color: var(--color-white);
    --checkbox-square-hover-border-color: var(--color-primary-500);
    --checkbox-square-active-border-color: var(--color-primary-500);
    --checkbox-square-error-bg: var(--color-danger-100);
    --checkbox-label-color: var(--color-gray-100);
    --checkbox-label-hover-color: var(--color-primary-200);
    --checkbox-label-active-color: var(--color-primary-200);
    --checkbox-label-focus-color: var(--color-primary-200);
    --checkbox-label-error-color: var(--color-danger-200);
    --checkbox-border-error-color: var(--color-danger-500);
    --checkbox-icon-color: var(--color-gray-400);
    --checkbox-inner-icon-color: var(--color-primary-500);

    /* Input */
    --input-error-bg: var(--color-danger-800);
    --input-has-content-color: var(--color-black);
    --input-has-content-error-color: var(--color-white);
    /* --input-error-btn-color: var(--color-white); */
    --input-btn-color: var(--color-black);
    --input-clear-btn-color: var(--color-gray-500);
    --input-error-clear-btn-color: var(--color-white);
    --input-error-border-color: var(--color-danger-500);

    /* Pagination */
    --pagination-color: var(--article-paragraph-color);

    /* Dialog/Card */
    --dialog-header-close-btn-color: var(--color-white);
    --dialog-header-title-color: var(--article-title-color);
    --dialog-content-color: var(--article-paragraph-color);
    --dialog-header-bg: var(--color-black);
    --dialog-content-bg: var(--color-black);
    --dialog-footer-bg: var(--color-black);
    --dialog-border-color: var(--color-border);

    /* Radio */
    --radio-circle-bg: var(--color-white);
    --radio-circle-active-bg: var(--color-primary-100);
    --radio-circle-checked-bg: var(--color-primary-500);
    --radio-label-color: var(--color-gray-100);
    --radio-label-hover-color: var(--color-primary-200);
    --radio-label-active-color: var(--color-primary-200);
    --radio-label-focus-color: var(--color-primary-200);
    --radio-border-hover-color: var(--color-primary-500);
    --radio-border-active-color: var(--color-primary-500);
    --radio-border-focus-color: var(--color-focus);

     /* Select */
    --select-color: var(--color-black);
    --select-bg: var(--color-white);
    --select-hover-bg: var(--color-gray-100);
    --select-active-bg: var(--color-gray-200);
    --select-error-bg: var(--color-danger-800);
    --select-error-color: var(--color-whitek);
    --select-error-border-color: var(--color-danger-500);

    /* Switch */
    --switch-checked-bg: var(--color-primary-300);
    --switch-unchecked-bg: var(--color-gray-200);
    --switch-square-bg: var(--color-white);
    --switch-square-color: var(--color-black);
    --switch-square-checked-color: var(--color-black);
  }
}
